#c{
    background-image: url("images/song-1.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    z-index:-1;
    position:absolute;
    left:0px;
    top:0px;

}
#button1{
    background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;

}

#button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#button2{
    background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      margin-top: 10%;

}

#button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#home-Button{
    z-index: 2;
    margin:auto;
}
#start{
    z-index:2;
    background-color: #008CBA;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin: auto;
    width:inherit;

}
#gameStats h1 {
    font-size: 6em;
    margin-left: 5%;
    margin-top: 1%;
}

#gameStats{
    width: 20px;
    font-family: bit;
    color: #fff;
    text-shadow: 4px 4px #000;
}

#gameBoard{
    background-color:#B0B0B0;
    height: 40%;
    width: 60%;
    z-index: 3;
    border-radius: 25px;
    margin: auto;
    opacity: .8;

}
#gameBoard h1 {
    text-align: center;
    padding-top: 3%;
    font-size: 8em;
    font-family: bit;
}
#gameBoard h2 {
    text-align: left;
    padding-left: 5%;
    font-family: bit;
}
#calculation{
    margin-top:-8%;
}
#submitName{
    margin-left: 35%;
}
#songScoreMenu{

}
#songScoreboard{
    background-color: #B0B0B0;
    width:800px;
    height:auto;
    opacity: .8;
    border-radius: 25px;
    margin: auto;
    padding-bottom: 30px;

}
#songScoreboard h1{
    font-family: bit;
    font-size: 8em;
    text-align: center;
    padding-top: 45px;

}
#homeButton{
        background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          opacity: 1;
}
table {
    font-family: bit;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-size: 24px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #5F9F9F;
}
tr:nth-child(odd) {
    background-color: #D1EEEE;
}
.list-styler{
    height: 40%;
    width: 30%;
    z-index: 3;
    margin:auto;
    margin-top: 5%;
    opacity: .8;
    list-style-type: none;

}
.list-styler li {
    background-color:#B0B0B0;
    padding-top:20px;
    padding-left: 80px;
    padding-bottom: 10px;
    font-size: 2em;
    border-radius: 25px;
}
.list-styler li:hover {
    background-color: #FFFF99;

}
.hide{
display:none;
}

.show{
display:block;
}
#particle{
    z-index: -99999;
}

@font-face { font-family: bit; src: url('font/8-Bit Madness.ttf'); }
